@page "/projects"


<PageTitle>Projects</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Projects</MudText>
<MudText Typo="Typo.h5" GutterBottom="true">Web Development</MudText>
<MudExpansionPanels MultiExpansion="true">
    <MudExpansionPanel Text="Love, Mother: A React.js Web App">
        <p>OTCOBER 2023 - PRESENT</p>
        Spearheaded the creation of an Alzheimer and dementia resource blog, delivering the following outcomes:
        <ul>
            <li>Developed a cross-platform mobile application using React.js and Expo, ensuring accessibility on the
                web, Google Play store, and Apple store platforms.</li>
            <li>Acquired proficiency in React.js during the project, demonstrating adaptability and rapid learning
                ability.</li>
            <li>Exhibited an independent work ethic by setting and managing my own schedule, resulting in timely project
                completion.</li>
            <li>Collaborated closely with stakeholders to gather project scope and goals, ensuring alignment with
                business objectives.</li>
            <li>Developed and deployed a full-stack web app, demonstrating proficiency across front-end and back-end
                technologies.</li>
        </ul>
    </MudExpansionPanel>
    <MudExpansionPanel Text="ChildcareHelper: A Node.js Website">
        <p>JANUARY 2023 - JULY 2023</p>
        Initiated the creation of an enhanced daycare management website, delivering the following outcomes:
        <ul>
            <li>Committed to innovative problem-solving for current challenges and future solutions.</li>
            <li>Proficiently used HTML, SCSS, JavaScript, Node.js, Express.js, and MongoDB with MVC principles for
                efficiency.</li>
            <li>Comprehensive documentation ensured a clear project scope and objectives.</li>
            <li>Designed an intuitive user interface based on user-centered design principles.</li>
            <li>Managed projects effectively for on-time delivery and surpassing expectations.</li>
            <li>Conducted research to enhance the overall user experience.</li>
            <li>Independently designed and implemented a full-stack web solution, showcasing versatility across both
                front-end and back-end technologies.</li>
        </ul>
    </MudExpansionPanel>
    <MudExpansionPanel Text="SleepOutside: A Node.js Site">
        <p>SEPTEMBER 2021 - DECEMBER 2021</p>
        Developed a robust e-commerce website using MVC architecture, achieving the following:
        <ul>
            <li>Collaborated effectively within a front-end development team to deliver a dynamic web project,
                contributing to the creation of engaging user experiences through innovative front-end solutions.</li>
            <li>Fostered seamless teamwork and effective communication for accelerated project progress and on-time
                delivery.</li>
            <li>Crafted an attractive, user-friendly interface with meticulous attention to detail.</li>
        </ul>
    </MudExpansionPanel>
    <MudExpansionPanel Text="YouChoose: A Node.js Site">
        <p>SEPTEMBER 2021 - DECEMBER 2021</p>
        Developed a robust e-commerce website using MVC architecture, achieving the following:
        <ul>
        <li>
            Contributed as a vital member of the backend team within a collaborative full-stack project, actively
            participating in the development and implementation of server-side solutions to enhance overall
            project functionality and performance.</li>
        <li>
            Facilitated cooperation between front-end and back-end teams, resulting in accelerating project progress and team synergy.</li>
        <li>
            Effectively leveraged experitise in Node.js, Express.js, JavaScript, and MongoDB for robust system development.</li>
        <li>
            Pushed for and achieved a culture of continuously raising the bar, resulting in enhanced code quality.</li>
        </ul>
    </MudExpansionPanel>
</MudExpansionPanels>

@code {

}
